dl.indent-dd > dd {
	padding-left: 20px;
}

dl.horizontal > dt {
	float: left;
	clear: left;
	width: 80px;
}

a[href]:after {
	content: none;
}

.dropdown-menu b {
	position: absolute;
}

.dropdown-menu .contact {
	padding-left: 80px !important;
}

.header {
	padding-bottom: 10px;
}

.list-unstyled {
	margin-bottom: 0px;
}

@media screen {
	body {
		padding-top: 70px;
	}
}

pre {
  padding: 0px;
}
