<html>
  <head>
    <title>Colin Williams - Resume</title>
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/resources/styles.css">
    <link rel="stylesheet" href="/resources/highlight.css">
    <script src="/resources/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  </head>
  <body>
    <nav class="navbar navbar-fixed-top navbar-default">
      <div class="container-fluid">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header">
	    <span class="sr-only">Toggle navigation</span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="#"><b class="text-primary">Colin Williams</b></a>
	</div>

	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	  <ul class="nav navbar-nav">
	    <li class="dropdown">
	      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Contact <span class="caret"></span></a>
	      <ul class="dropdown-menu" role="menu">
		{% for contact in site.data.contact %}
		<li><a href="{{ contact.href }}{% if contact.company-specific %}{{ site.data[page.data].path }}{% endif %}">
		    <b>{{ contact.name }}</b>
		    <span class="contact">{{ contact.contact }}{% if contact.company-specific and page.data != "default" %}{{ site.data[page.data].path }}{% endif %}</span>
		</a></li>
		{% endfor %}
	      </ul>
	    </li>
	    <li{% if page.type == "resume" %} class="active"{% endif %}><a href="{{ site.data[page.data].path }}">Resume <span href="Colin_Williams.pdf" class="print glyphicon glyphicon-print"></span></a></li>
	    <li{% if page.type == "portfolio" %} class="active"{% endif %}><a href="{{ site.data[page.data].path }}portfolio">Portfolio</a></li>
	  </ul>
	</div>
      </div>
    </nav>

    {{ content }}

    <script>
      $(document).ready(function () {
      $(".print").on("click", function() {
      window.location.href = "/printable{{ site.data[page.data].path }}Colin_Williams_Resume.pdf";
      return false;
      });
      });
    </script>
  </body>
</html>
