---
layout: base
---

<div class="container">
  <div class="row">
    <div class="col">
      <ul class="nav nav-tabs">
	{% for sample in site.data['portfolio'].samples %}
          <li class="nav-item">
	    <a class="nav-link{% if sample == page.sample %} active{% endif %}"
              aria-current="true"
              href="/{{ site.data[page.data].path }}portfolio/{{ sample }}.html">
	      {{ sample }}
	    </a>
	  </li>
	{% endfor %}
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col">
      {{ content }}
    </div>
  </div>
</div>
